In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
# Reading in dataset, setting DATE to be datetime (and not an object)
data = pd.read_csv('seattleWeather_1948-2017.csv', parse_dates=[0])

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25551 entries, 0 to 25550
Data columns (total 5 columns):
DATE    25551 non-null datetime64[ns]
PRCP    25548 non-null float64
TMAX    25551 non-null int64
TMIN    25551 non-null int64
RAIN    25548 non-null object
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 998.2+ KB

In [12]:
data.head()

        DATE  PRCP  TMAX  TMIN  RAIN
0 1948-01-01  0.47    51    42  True
1 1948-01-02  0.59    45    36  True
2 1948-01-03  0.42    45    35  True
3 1948-01-04  0.31    45    34  True
4 1948-01-05  0.17    45    32  True

In [24]:
# separate test & train data between 1950 - 2009 (test) and 2010 - 2017 (train)

test = data[(data['DATE'] >= '1950-01-01') & (data['DATE'] < '2010-01-01')]
train = data[(data['DATE'] >= '2010-01-01') & (data['DATE'] < '2018-01-01')]

In [28]:
print(test.info())
print(train.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21915 entries, 731 to 22645
Data columns (total 5 columns):
DATE    21915 non-null datetime64[ns]
PRCP    21912 non-null float64
TMAX    21915 non-null int64
TMIN    21915 non-null int64
RAIN    21912 non-null object
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 1.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2905 entries, 22646 to 25550
Data columns (total 5 columns):
DATE    2905 non-null datetime64[ns]
PRCP    2905 non-null float64
TMAX    2905 non-null int64
TMIN    2905 non-null int64
RAIN    2905 non-null object
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 136.2+ KB
None