# Lesson 2 Lab:  Practical Pandas

_This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [2]:
import pandas as pd
import os

data = pd.read_csv('/Users/james/GA/dat11syd/data/ozone.csv')

In [3]:
data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

Print the column names of the dataset to the screen, one column name per line.

In [4]:
# for loop version
for x in data:
    print(x)

Ozone
Solar.R
Wind
Temp
Month
Day

In [5]:
# list comprehension version
LC =[print(x) for x in data]

Ozone
Solar.R
Wind
Temp
Month
Day

In [6]:
list(data)

['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day']

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [7]:
data.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

In [8]:
data.iloc[0:2]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

In [9]:
# Pulling columns purely as an example
data.iloc[:,0:3]

     Ozone  Solar.R  Wind
0     41.0    190.0   7.4
1     36.0    118.0   8.0
2     12.0    149.0  12.6
3     18.0    313.0  11.5
4      NaN      NaN  14.3
5     28.0      NaN  14.9
6     23.0    299.0   8.6
7     19.0     99.0  13.8
8      8.0     19.0  20.1
9      NaN    194.0   8.6
10     7.0      NaN   6.9
11    16.0    256.0   9.7
12    11.0    290.0   9.2
13    14.0    274.0  10.9
14    18.0     65.0  13.2
15    14.0    334.0  11.5
16    34.0    307.0  12.0
17     6.0     78.0  18.4
18    30.0    322.0  11.5
19    11.0     44.0   9.7
20     1.0      8.0   9.7
21    11.0    320.0  16.6
22     4.0     25.0   9.7
23    32.0     92.0  12.0
24     NaN     66.0  16.6
25     NaN    266.0  14.9
26     NaN      NaN   8.0
27    23.0     13.0  12.0
28    45.0    252.0  14.9
29   115.0    223.0   5.7
..     ...      ...   ...
123   96.0    167.0   6.9
124   78.0    197.0   5.1
125   73.0    183.0   2.8
126   91.0    189.0   4.6
127   47.0     95.0   7.4
128   32.0     92.0  15.5
129   20.0    252.0  10.9
130   23.0    220.0  10.3
131   21.0    230.0  10.9
132   24.0    259.0   9.7
133   44.0    236.0  14.9
134   21.0    259.0  15.5
135   28.0    238.0   6.3
136    9.0     24.0  10.9
137   13.0    112.0  11.5
138   46.0    237.0   6.9
139   18.0    224.0  13.8
140   13.0     27.0  10.3
141   24.0    238.0  10.3
142   16.0    201.0   8.0
143   13.0    238.0  12.6
144   23.0     14.0   9.2
145   36.0    139.0  10.3
146    7.0     49.0  10.3
147   14.0     20.0  16.6
148   30.0    193.0   6.9
149    NaN    145.0  13.2
150   14.0    191.0  14.3
151   18.0    131.0   8.0
152   20.0    223.0  11.5

[153 rows x 3 columns]

How many observations (i.e. rows) are in this data frame?

In [10]:
data.count()

Ozone      116
Solar.R    146
Wind       153
Temp       153
Month      153
Day        153
dtype: int64

In [11]:
data.describe()

            Ozone     Solar.R        Wind        Temp       Month         Day
count  116.000000  146.000000  153.000000  153.000000  153.000000  153.000000
mean    42.129310  185.931507    9.957516   77.882353    6.993464   15.803922
std     32.987885   90.058422    3.523001    9.465270    1.416522    8.864520
min      1.000000    7.000000    1.700000   56.000000    5.000000    1.000000
25%     18.000000  115.750000    7.400000   72.000000    6.000000    8.000000
50%     31.500000  205.000000    9.700000   79.000000    7.000000   16.000000
75%     63.250000  258.750000   11.500000   85.000000    8.000000   23.000000
max    168.000000  334.000000   20.700000   97.000000    9.000000   31.000000

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [12]:
data.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [13]:
data[['Ozone']].iloc[46]
# makes no real difference to only have [], two [[]] makes a nather dataframe:

Ozone    21.0
Name: 46, dtype: float64

In [14]:
# example of other sytax for df.
data.Ozone.iloc[46]
data['Ozone'].iloc[46]

21.0

In [15]:
newdf= data[['Ozone','Solar.R']]

How many missing values are in the Ozone column of this data frame?

In [16]:
data[['Ozone']].isnull().sum()
# True have a numeric value of 1, False = 0.

Ozone    37
dtype: int64

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [17]:
data[['Ozone']].mean()

Ozone    42.12931
dtype: float64

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [18]:
data['Solar.R'][(data.Ozone > 31) & (data.Temp > 90)]

68     267.0
69     272.0
119    203.0
120    225.0
121    237.0
122    188.0
123    167.0
124    197.0
125    183.0
126    189.0
Name: Solar.R, dtype: float64

In [19]:
data['Solar.R'][(data.Ozone > 31) & (data.Temp > 90)].mean()

212.8

What is the mean of "Temp" when "Month" is equal to 6?

In [26]:
data.Temp[data.Month == 6].mean()

79.1

In [32]:
data['Temp'][data.Month == 6].mean()

79.1

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [37]:
data.Ozone[data.Month == 5].max()

115.0

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas